{% extends 'basesimple.html' %}

{% block myhead %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block mycss %}

{% endblock %}

{% block mycontent %}
        {% if form.errors %}
            {% for field in form %}
            {% if field.errors %}
            <div>
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
            </div>
            {% endif %}
            {% endfor %}
            {% for error in form.non_field_errors %}  <!-- 넌필드 오류를 출력한다. -->
            <div>
                <strong>{{ error }}</strong>
            </div>
            {% endfor %}
        {% endif %}
{% endblock %}