<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href = 'https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap' rel="stylesheet">
    <link rel = "stylesheet" type="text/css" href="style.css">
</head>

<body>
    <div class ="wrap">
        <div class = "intro_bg">
            <div class = "header">
                <div class = "iconarea">
                    <a href ="www.naver.com" >  <!--메인 아이콘-->
                        <img src = "../images/bus_icon.jpg" width = 110px height = 100px>
                    </a>
                </div>
                <div class = "menu">
                        <ul class="nav">
                            <li><a href = "#">소개</a></li>
                            <li><a href = "#">전국</a></li>
                            <li><a href = "#">게시판</a></li>
                            <li><a href = "#">로그인</a></li>
                            <li><a href = "#">회원가입</a></li>
                            <li><a href = "#">번역</a></li>
                            <li><a href = "#">관리자</a></li>
                        </ul>
                </div>
            </div>
            <div class = "intro_text">
                <h1>전국 시티 투어</h1>
                <h3>가고싶은 지역을 선택해주세요.</h3>
            </div>
            <div class = "select_location">
                <select class = 'select1'>
                    <option name = 'select1'>시,도를 선택하세요.</option>
                    <option name = "select1" value = "서울">서울</option>
                </select>
                <select>
                    <option name = 'select2'>시구군을 선택하세요</option>
                    <option name = 'select2' value = "송파구">송파구</option>
                    <option name = 'select2' value = "강남구">송파구</option>
                </select>
                <botton class = 'find'>찾기</botton>
            </div>
        </div>
    </div>
</body>
</html>