{% extends "base.html" %}

{% block title%}소개해유~~{% endblock %}

{% block css %}
    .introlr {
        width : 100%;
        height : 300px;
    }
    .intro_left{
        text-align : center;
        width : 49%;
        height : 350px;
        float : left;
        box-sizing: border-box;
    }
    .intro_right{
        text-align : center;
        width : 48%;
        height : 350px;
        padding-top : 80px;
        padding-right : 100px;
        float : right;
        box-sizing: border-box;
    }
    .intropic{
        width : 70%;
        height : 330px;
    }
    hr{
        margin: 30px auto;
        width: 100px;
        background:orange;
        height:5px;
        border:0;
    }
    h1{
        font-family: 'InkLipquid';
        font-size: 30px
    }
    h2{
        font-family: 'Pretendard-Regular';
        font-size: 38px
    }
    h4{
        font-family: 'Pretendard-Regular';
        font-size: 33px
    }
    article{
            border : 8px double orange;
            border-radius : 5px;
            padding: 20px 10px 20px 10px;
            width: 80%;
            margin: auto;
    }
    p {
            border: 3px solid red;
            padding:10px;
    }
    footer{
        width : 100%;
        height : 40px;
        clear : both;
        background-color : orange;
        text-align: center;
        margin-top: 40px;
        padding-top: 20px;
        padding-bottom:30px;
        color: white;
        font-family: 'Pretendard-Regular';
    }
    @font-face {
        font-family: 'Pretendard-Regular';
        src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'InkLipquid';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
{% endblock %}

{% block contents %}
{% load static %}
    <div class = "introo">
        <br><br><br>
        <h1 style = "text-align:center">How To Use</h1>
        <br>
        <hr>
        <h2 style = "text-align:center">Introduction of Korean tour</h2>
    </div><br><br>

    <div class = "intro">
        <br><br><br>
        <h4 style = "text-align:left">&emsp;&emsp;&emsp;&emsp;&emsp;전국시티투어소개</h4>
        <br>
        <article>
        <h3 style = "text-align:left";>편리하고 즐거운 전국여행!</h3>
        <h3 style = "text-align:left">전국시티투어하조는 대한민국 전국의 시티투어 정보를 통합 및 관리하여
            시티투어 관광객이 더 나은 시티투어 관광을 즐길 수 있도록 정보를 제공합니다.</h3>
        <br>
        <h3 style = "text-align:left">전국의 링크를 통해 다양한 도시테마를 구경하고 관광코스, 정보, 시간을 통해 시간절약을 도와드립니다.</h3>
        </article>
    </div><br><br><br><br><br>
<!--위는 우리 페이지는 ~~이고 ~~기능을 담고 있다-->
<div class = "introlr">
    <div class = "intro_left">
        <a href = "{% url 'web:home' %}"><img class = "intropic" src="/static/images/search.png"></a>
    </div>
    <div class = "intro_right">
        <h3>-시티투어 지역 선택-</h3>
        <br><br>
        <h3>방문하고자 하는 도시의 시·도와 시·군·구를 선택해주세요.</h3>
        <h3>선택 후 해당 도시에서 진행하고 있는 시티투어 정보를 확인하실 수 있습니다.</h3>
    </div>
</div>
<!--첫 홈페이지에서 지역을 선택하면 해당 지역의 시티투어를 소개해준다.-->
<div class = "introlr">
    <div class = "intro_left">
        <a href = "{% url 'web:whole_country' %}"><img class = "intropic" src="/static/images/tourin.png"></a>
    </div>
    <div class = "intro_right">
        <h3>-전국 URL 이용하기-</h3>
        <br><br>
        <h3>관광코스, 정보, 시간을 한 페이지로 확인하세요.</h3>
        <h3>전국의 다양한 도시테마를 감상할 수 있습니다.</h3>
    </div>
</div>
<!--게시판의 기능-->
<div class = "introlr">
    <div class = "intro_left">
        <a href = "{% url 'board:board' %}"><img class = "intropic" src="/static/images/boardp.png"></a>
    </div>
    <div class = "intro_right">
        <h3>-게시판 이용하기-</h3>
        <br><br>
        <h3>'글쓰기' 버튼을 통해 게시판에 다양한 의견을 올려주세요.</h3>
        <h3>'Q&A' 와 '불편사항'을 관리합니다.</h3>
    </div>
</div>
<!--번역의 기능-->
<div class = "introlr">
    <div class = "intro_left">
        <img class = "intropic" src="/static/images/english.png">
    </div>
    <div class = "intro_right">
        <h3>-번역 기능-</h3>
        <br><br>
        <h3>번역기능을 통해 영어, 중국어, 일본어, 중국어, 베트남어, 러시아어 등</h3>
        <h3>다양한 언어로 페이지를 만날 수 있습니다.</h3>
    </div>
</div>
<!--관리자의 기능-->
<div class = "introlr">
    <div class = "intro_left">
        <a href = "{% url 'web:manager' %}"><img class = "intropic" src="/static/images/ourteam.png"></a>
    </div>
    <div class = "intro_right">
        <h3>-관리자 살펴보기-</h3>
        <br><br>
        <h3>관리자들의 이름, E-mail, 경험을 볼 수 있습니다.</h3>
        <h3>기업들의 문의사항은 관리자들의 E-mail로 연락 바랍니다.</h3>
    </div>
</div>
<!--로그인,로그아웃의 기능-->
<div class = "introlr">
    <div class = "intro_left">
        <a href = "{% url 'common:login' %}"><img class = "intropic" src="/static/images/loginout.png"></a>
    </div>
    <div class = "intro_right">
        <h3>-회원가입&로그인-</h3>
        <br><br>
        <h3>회원가입: 이름, 비밀번호, 이메일을 입력 후 생성해주세요.</h3>
        <h3>로그인: 로그인 창에서 아이디와 비밀번호를 입력해주세요.</h3>
    </div>
</div>
    <footer>
        <em>Korea City Tour site(ver1.0)</em>
    </footer>
{% endblock %}